form{
    margin-top: 20px;
}

.comments{
    margin-top: 40px;
}

.name{
    font-style: italic;
    font-weight: bold;
}

.nameTree{
    font-style: italic;
    margin-top: 10px;
    font-weight: bold;
}

.text{
    margin-top: 10px;
}

.answer{
    margin-top: 10px;
}

.ans{
    color: #999;
}

.ans:hover{
    color: #999;
}

li{
    list-style-type: none;
}